*.index filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
data/FINAL_TRRSRT.csv filter=lfs diff=lfs merge=lfs -text
modules/all_embeddings_v2.npy filter=lfs diff=lfs merge=lfs -text
modules/faiss_index_v2.index filter=lfs diff=lfs merge=lfs -text
