streamlit
numpy
jq
jsonlines
tqdm
dask
langchain
langchain-google-genai
langchain_community
langchain_core
langchain_text_splitters
sentence_transformers
faiss-cpu
faiss-gpu
mecab-python3
mecab-ko
mecab-ko-dic
konlpy
transformers
python-dotenv
bitsandbytes
transformers
rank-bm25
accelerate
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
sentence-transformers
google-generativeai