streamlit
numpy
jq
jsonlines
tqdm
dask
langchain
langchain-google-genai
langchain_community
langchain_core
langchain_text_splitters
sentence_transformers
faiss-cpu
mecab-python3
mecab-ko
mecab-ko-dic
konlpy
transformers
python-dotenv